table{
    margin: auto;
    border-style:solid;
	border-width:8px;
	border-color: #ddd;
}

td{
    height: 30px;
    background: black;
}

#tb1,#tb2,#tb3{
    border: 1px outset rgba(15,10,10,0.3);
}

button{
    width:80px;
    height:50px;
    border-color: black;
    border-radius: 25px;
    background: #666;
    font-size: 25px;
    color: white;
}

#display{
    background: black;
    width:95%;
    height:70px;
    text-align: right;
    font-size:40px;
    color: white;
    border-color: black;
}

#tb3 button {
	background: orange;
	font-size: 17px;
}

#tb2 #lightgray button {
	background: #eee;
	color: black;
	font-size: 17px;
}

#tb1 button {
	background: #333;
	color: white;
	font-size: 15px;
}